.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--color-gray);
    border-radius: 7px;

    color: var(--color-blue);
}

.listItem:hover {
    background-color: var(--color-gray-l);
    box-shadow: 0px 0px 5px 1px var(--color-blue);
}

.removeBtn {
    border: none;
}

.listItem:hover .removeBtn {
    background-color: var(--color-gray-l);
}

.removeBtn>svg>g {
    fill: var(--color-gray);
    stroke: var(--color-gray);
}

.removeBtn:hover>svg>g {
    fill: var(--color-red);
    stroke: var(--color-red);
}