.listItem {
    color: var(--color-blue);

    padding: 10px 30px 10px 10px;
    width: 100%;
    border: 1px solid var(--color-gray);
    border-radius: 7px;
    position: relative;
}

.removeBtn {
    position: absolute;
    top: 3px;
    right: 3px;

    border: none;
}

.removeBtn>svg>g {
    fill: var(--color-gray);
    stroke: var(--color-gray);
}

.removeBtn:hover>svg>g {
    fill: var(--color-red);
    stroke: var(--color-red);
}