@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

:root {
    --color-white: #ffffff;
    --color-light: #EEEEEE;
    --color-gray-l: #E0E0E0;
    --color-gray: #CCCCCC;
    --color-blue: #27446E;
    --color-green: #41AD49;
    --color-green-d: #004900;
    --color-green-l: #C2F2D0;
    --color-red: #C3423F;
    --color-dark: #292929;
    --color-black: #000000;
}

html {
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans 3';
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color-light);
    color: var(--color-dark);
}

#root {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;

    margin: 1rem auto;
    width: fit-content;
}